<div class="card">
  <div class="card-block">
    <div class="pull-left">
      <h4 class="card-title">Expenses</h4>
    </div>

    <div class="pull-right">
      <%= link_to new_expense_path(event_id: @event.id), class: 'btn btn-success btn-sm new-expense-button', data: { modal: true } do %>
          <%= icon(:plus, :fa) %> Add Expense
      <% end %>
    </div>

  </div>

  <ul class="list-group list-group-flush expenses-container">
    <% @expenses.each do |expense| %>
        <%= render partial: 'expense', object: expense %>
    <% end %>

    <li class="list-group-item">
      <div class="row">
        <div class="col-md-10" align="right">
          <strong>Total:</strong>
        </div>
        <div class="col-md-2" align="right">
          <strong><%= number_to_currency @sums[:expenses] %></strong>
        </div>
      </div>
    </li>
  </ul>
</div>