<script type="text/html" id="error-modal-template">
  <div class="modal-dialog-base">
    <div class="modal-dialog-content modal" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="color-line"></div>

          <div class="modal-header">
            <h4 class="modal-title">{{= title }}</h4>
          </div>

          <div class="modal-body">
            {{= body }}
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default modal-close">Close</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</script>