<div class="modal-manager-container inset">

  <div class="modal-dialog-base modal-prepopulate">
    <div class="modal-dialog-content modal" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <div class="color-line"></div>

          <%= yield %>

        </div>
      </div>
    </div>
  </div>

</div>