<%
  breadcrumb_nav.add_item 'User'
  breadcrumb_nav.add_item @user.name, user_path(@user)
  breadcrumb_nav.add_item 'Calendars'
%>

<div class="row">
  <div class="col-lg-3">
    <div class="card">
      <div class="card-header">
        Calendars
      </div>
      <div class="card-block">
        <a href="/calendars/user?user_token=<%= @user.token %>" class="btn btn-secondary">
          <i class="fa fa-calendar"></i> Calendar
        </a>
      </div>
    </div>
  </div>
</div>