<div class="container">
  <div style="width: 300px; margin: auto; text-align: center; padding-top: 100px;">
    <h1>EvMan</h1>
    <p>Manage your spectacular team</p>

    <div style="height: 20px;">&nbsp;</div>

    <div style="margin-bottom: 10px;">
      <a href="/auth/github" data-turbolinks="false" class="btn btn-primary"><i class="fa fa-github"></i> Github</a>
      <a href="/auth/gitlab" data-turbolinks="false" class="btn btn-primary"><i class="fa fa-gitlab"></i> Gitlab</a>
    </div>
    <div style="margin-bottom: 10px;">
      <a href="/auth/twitter" data-turbolinks="false" class="btn btn-primary"><i class="fa fa-twitter"></i> Twitter</a>
      <a href="/auth/facebook" data-turbolinks="false" class="btn btn-primary"><i class="fa fa-facebook"></i> Facebook</a>
    </div>
    <div style="margin-bottom: 10px;">
      <a href="/auth/google" data-turbolinks="false" class="btn btn-primary"><i class="fa fa-google"></i> Google</a>
    </div>

    <div style="height: 20px;">&nbsp;</div>
  </div>
</div>

<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
    window.addEventListener("load", function(){
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#237afc"
                },
                "button": {
                    "background": "#fff",
                    "text": "#237afc"
                }
            },
            "theme": "edgeless",
            "position": "top"
        })});
</script>