<div class="card">
  <div class="card-header">
    Contacts
    <div class="pull-right">
      <%= link_to new_contact_path(event_id: @event.id), data: { modal: true }, class: 'btn btn-info btn-sm' do %>
          <%= icon(:plus, :fa) %> Contact
      <% end %>
    </div>
  </div>
  <div>
    <ul class="list-group list-group-flush">
      <%= render :partial => 'contact', collection: @event.contacts.order(name: :asc) %>
    </ul>
  </div>
</div>