<% event.team.event_properties.includes(:options).in_order.each do |event_property| %>
    <% next if event.properties_assignments.blank? or event.properties_assignments[event_property.id.to_s].blank? %>
    <div class="col col-auto">
      <small class="text-muted"><%= event_property.name %></small><br>
      <% case event_property.behaviour %>
      <% when EventProperty::Behaviour::MULTIPLE_CHOICE then %>
        <% event_property.selected_options(event).each do |option| %>
          <span class="badge badge-primary"><%= option.name %></span>
        <% end %>
      <% when EventProperty::Behaviour::SELECT then %>
        <% event_property.selected_options(event).each do |option| %>
          <%= option.name %>
        <% end %>
      <% when EventProperty::Behaviour::TEXT then %>
        <%= event_property.value(event) %>
      <% end %>
    </div>
<% end %>