<%
  action = @event.new_record? ? 'New' : 'Edit'
  breadcrumb_nav.add_item 'Events', events_path
  breadcrumb_nav.add_item @event.name, @event unless @event.new_record?
  breadcrumb_nav.add_item action
%>

<%= form_for(@event,
             html: { class: 'form-horizontal' },
             data: {
                 js: {
                     render_vue: "Events.Form",
                     render_options: {
                         event_properties: event_properties_form_definition,
                         event: @event.as_json,
                         event_types: @event.assignable_event_types.as_json,
                         owners: @event.assignable_owners.as_json
                     }
                 }
             }) do |form| %>
  <% if @event.errors.any? %>
    <div class="card-deck">
      <div class="card">
        <div class="card-header"><h4>Errors</h4></div>
        <div class="card-block">
          <%= validation_errors(@event) %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="card-deck">
    <div class="card">
      <div class="card-header">
        <h4>Event Profile</h4>
      </div>

      <div class="card-block">
        <event-form></event-form>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <h4>Alignment</h4>
      </div>

      <div class="card-block">

        <properties-form></properties-form>
      </div>
    </div>
  </div>

  <div class="card-deck">
    <div class="card">
      <div class="card-block btn-">
        <%= form.submit "Save", class: "btn btn-success" %>
        <%= link_to 'Discard Changes', @event, class: 'btn btn-default' unless @event.new_record? %>
      </div>
    </div>
  </div>




<% end %>