<%
  breadcrumb_nav.add_item "Events", events_path
  breadcrumb_nav.add_item @event.name
%>

<div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <%= render partial: 'tabs' %>
          </div>
          <div class="card-block">
            <div class="row">
              <div class="col-lg-8">
                <ul class="list-group list-group-flush warehouse-transactions-container">
                  <li class="list-group-item">
                    <div class="row">

                      <div class="col-sm-1"></div>

                      <div class="col-sm-5">
                        <b>Name</b>
                      </div>

                      <div class="col-sm-2" align="right">
                        <b>Size</b>
                      </div>

                      <div class="col-sm-2" align="right">
                        <b>Created At</b>
                      </div>

                      <div class="col-sm-2" align="right">
                        <b>Created By</b>
                      </div>
                    </div>
                  </li>


                  <%= render partial: 'attachment', collection: @event.attachments.order('created_at DESC') %>

                </ul>
              </div>
              <div class="col-lg-4">
                <%= render 'attachments/form' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>