<%
  breadcrumb_nav.add_item 'Team'
  breadcrumb_nav.add_item current_team.name, team_path(current_team)
  breadcrumb_nav.add_item 'Contacts'
%>

<% content_for :breadcrumb_menu do %>
    <%= link_to new_contact_path, data: { modal: true }, class: 'btn btn-secondary text-success btn-xs' do %>
        <%= icon(:plus, :fa) %> Contact
    <% end %>
<% end %>

<div class="card">
  <div class="card-block no-padding table-responsive">
    <table class="table table-hover">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Job Title</th>
        <th>E-mail</th>
        <th>Office Phone</th>
        <th>Cell Phone</th>
      </tr>

      <tbody>
        <%= render @contacts %>
      </tbody>

    </table>
  </div>
</div>
