<div class="card">
  <div class="card-header">
    Users
  </div>
  <div class="card-block no-padding">

    <table class="table table-hover">
      <tr>
        <th width="250px"></th>
        <th>Name</th>
        <th>Roles</th>
      </tr>

      <tbody>
        <%= render partial: 'user', collection: @users %>
      </tbody>

    </table>
  </div>
</div>