<template class="vue-template" id="form_builder_template">
  <div>
    <div v-for="field in fields">
      <form-builder-field v-model="field.data"
                          :key="field.data.id"
                          :builder_name="name"
                          @move-up="moveUp(field)"
                          @move-down="moveDown(field)"
                          @remove="removeField(field)">
      </form-builder-field>
    </div>


    <button class="btn btn-success btn-xs" @click.stop.prevent.self="addField">
      <%= icon(:plus, :fa) %> Add field
    </button>
  </div>
</template>