.flex-content-space-around {
  justify-content: space-around;
}

.flex-content-space-between {
  justify-content: space-between;
}

.flex-items-center {
  align-items: center;
}

.no-margin {
  margin: 0;
}