<div class="panel panel-default">

    <div class="panel-heading ">
        <div>
            <%= title %>
        </div>
    </div>

    <div class="panel-body <%= body_class %>">
        <%= yield %>
    </div>
</div>
