<template class="vue-template" id="filterer_template">
  <div class="filterer card">
    <div class="card-header">
      Search
      <div class="pull-right">
        <button class="btn btn-success btn-sm" @click.prevent="addConstrain">Add <i class="fa fa-plus"></i></button>
        <button class="btn btn-warning btn-sm" @click.prevent="constrains = []">Clear</button>
        <%= submit_tag 'Filter', class: 'btn btn-primary btn-sm' %>
      </div>
    </div>
    <div class="card-body">
      <div class="constrains d-sm-flex">
        <constrain v-model="constrain.data"
                   :field_definitions="definition"
                   :key="constrain.data.id"
                   v-for="(constrain, index) in constrains"
                   @remove-constrain="constrains.splice(index, 1)">
        </constrain>
      </div>
    </div>
  </div>
</template>