<div class="card text-white bg-danger mb-3">
  <div class="card-header">
    <h3 class="card-title">Unauthorized access</h3>
  </div>
  <div class="card-body">
    <% if @exception.with_record? %>
      <%
        breadcrumb_nav.add_item @exception.record.class.name, @exception.record
        breadcrumb_nav.add_item @exception.action
      %>
      You are not authorized to perform <span class="badge badge-light"><%= @exception.action %></span> action on
      <span class="badge badge-light"><%= @exception.record.class.name %></span>
    <% elsif @exception.with_permission? %>
      <% breadcrumb_nav.add_item "Unauthorized" %>
      You are not authorized for this operation in team <%= @exception.team.name %>
    <% else %>
      <% breadcrumb_nav.add_item "Unauthorized" %>
      You are not authorized for this operation.
    <% end %>
  </div>

</div>