<div class="panel panel-danger">
  <div class="panel-heading">
    <h3 class="panel-title">Unauthorized access</h3>
  </div>
  <div class="panel-body">
    <% if @exception.with_record? %>
      You are not authorized to perform <span class="label label-danger"><%= @exception.action %></span> action on
        <span class="label label-primary"><%= @exception.record.class.name %></span>
    <% elsif @exception.with_permission? %>
        You are not authorized for this operation in team <%= @exception.team.name %>
    <% else %>
      You are not authorized for this operation.
    <% end %>
  </div>

</div>