<%= render 'layouts/application' do %>

  <header class="app-header navbar">
    <a class="navbar-brand" href="#"></a>
  </header>

  <div class="app-body public">
    <main class="main">
      <div class="container-fluid">
        <%= yield %>
      </div>
    </main>

  </div>
<% end %>